<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://thymeleaf.org"
      lang="en">

<!--xmlns:th="http://thymeleaf.org"-->
<!--xmlns:th="http://www.w3.org/1999/xhtml"-->

<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>ChiChat</title>
<!--    <link rel="stylesheet" href="../static/css/chat.css" />-->
    <link th:href="@{/css/chat.css}" rel="stylesheet" />
</head>
<body>

<div id="username-page">
    <div class="username-page-container">
        <h1 class="title">Welcome to ChiChat!</h1>
        <div class="signed-in-container">
            <form th:action="@{/logout}" method="post">
                <h4 class="signed-in">You'll appear as:
                    <span id="username" sec:authentication="principal.fullName"></span>
                    <input type="submit" value="Sign Out" class="accent" />
                </h4>
            </form>
        </div>
        <button id="startChattingButton" class="accent" role="button">Start Chatting</button>
    </div>
</div>

<div id="chat-page" class="hidden">
    <div class="chat-container">
        <div class="chat-header">
            <h2>ChiChat</h2>
        </div>
        <div class="connecting">Connecting...</div>
        <ul id="messageArea"></ul>
        <div class="typing" style="display: none;"></div>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control" />
                    <button type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!--<script src="../static/js/chat.js"></script>-->
<script type="text/javascript" th:src="@{/js/chat.js}"></script>
</body>
</html>